<div class="row">
  <div class="portfolio">
    <h1>Portfolio</h1>
    <div class="card" style="width: 25rem;" *ngFor="let portfolio of portfolio">
      <img src={{portfolio.imagen}} class="card-img-top" alt="Foto">
      <div class="card-body">
        <h5 class="card-title">{{portfolio.nombre}}</h5>
        <p class="card-text">{{portfolio.descripcion}}</p>
        <a href="#" class="btn btn-danger">Abrir</a>
      </div>
      <div class="buttons">
        <td *ngIf="isLogged">
          <button class="btn btn-light" routerLink="/edittrabajo/{{ portfolio.id }}">
            <i class="bi bi-pencil-square"></i>
          </button>
        </td>
        <td *ngIf="isLogged">
          <button class="btn btn-danger" (click)="delete(portfolio.id)">
            <i class="bi bi-x-lg"></i>
          </button>
        </td>
      </div>
    </div>
    <div class="col-lg-1">
      <button type="button" class="btn btn-dark" routerLink="/nuevotrabajo" *ngIf="isLogged">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>
</div> 