.row{
    width: 100%;
    margin-left: 0;
    background-image: url(../../../assets/93284.jpg);
    background-attachment: fixed;
    padding: 20px;
    padding-bottom: 20px;
}

.portfolio{
    width: 75%;
    margin: 0 auto;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.795);
    padding: 40px;
    border: 2px solid #ff00804d;
}

@media (max-width: 991px){
    .portfolio{
        width: 92%;
    }
}

h1{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

button{
    border: none;
    border-radius: 100%;
    background-color: rgba(73, 50, 104, 0.527);
    margin: 2px;
    margin-bottom: 10px;
    
}

.nuevo_tb{
    margin-top: 10px;
    text-align: center;
}

.card{
    margin: 25px 5px;
    text-align: center;
    border: 2px solid #ff00804d;
    display: inline-block;
}

img{
    margin-top: 7px;
    border-radius: 5px;
    border: 2px solid #ff00804d;
    width: 380px;
    height: 200px;
}