.row{
    height: 100vh;
    width: 100%;
    margin-left: 0px;
    background-image: url(../../../assets/93284.jpg);
    background-attachment: fixed;
    padding: 20px;
}

form{
    width: 50%;
    margin: 270px auto;
    padding: 40px;
    background-color: #ff00803d;
    border: 1px solid rgba(240, 128, 128, 0.185);
    border-radius: 10px;
    color: rgb(51, 0, 66);
}

@media (max-width: 991px){
    form{
        width: 92%;
    }
}

.form-group{
    margin: 20px;
}

button{
    border: none;
    background-color: rgba(255, 45, 161, 0.568);
    margin: 10px 20px;
    box-shadow: 1px 1px 1px rgb(128, 128, 128);
}