@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

.row{
    width: 100%;
    margin-left: 0;
    background-image: url(../../../assets/93284.jpg);
    background-attachment: fixed;
    padding-top: 340px;
    padding-bottom: 340px;
}

#texto-banner{
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(87, 87, 87);
    color: #ffffff;
    font-family: 'Manjari', sans-serif;
    background-color: #ff00804d;
    padding-top: 50px;
    padding-bottom: 40px;
}